/* 기존 스타일 */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 넷플릭스 스타일 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #141414; /* 넷플릭스 스타일 어두운 배경 */
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #e50914; /* 넷플릭스 레드 */
}

.container {
  padding: 20px;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.1); /* 호버 시 확대 */
}

.movie-card img {
  width: 100%;
  border-bottom: 2px solid #e50914;
}

.movie-card h2 {
  font-size: 1.2rem;
  margin: 10px;
  color: white;
}

.movie-card p {
  margin: 10px;
  font-size: 0.9rem;
  color: #bbb;
}

/* 버튼 스타일 */
button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

button:hover {
  background-color: #f40612;
}
